.formulario {
    label {
        display: block;
    }

    input {
        border: 1px solid rgb(112, 112, 112);
        font-size: 1.25rem;
        width: 100%;
        border-radius: 5px;
        padding: 5px;

        &[type="submit"] {
            width: 60px;
            margin-top: 10px;
        }

        &:focus,
        &:hover,
        &:active {
            box-shadow: 0px 10px 61px -15px rgba(0, 0, 0, 0.1);
        }

        &:hover {}

        &:invalid {
            box-shadow: 0px 10px 61px -15px rgba(255, 0, 0, 0.1);
        }
    }
}