body,
html {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 830px;
  margin: 0 auto;
  .row {
    display: flex;
    .col-6 {
      flex-basis: 50%;
      @media (max-width: 760px) {
        flex-basis: 100%;
      }
    }
    .col-4 {
      flex-basis: 33%;
      @media (max-width: 760px) {
        flex-basis: 100%;
      }
    }
  }
}
img {
  max-width: 100%;
  height: auto;
}
