nav.main{
    background-color: azure;
    box-shadow: 0 0 5px black;
}
nav.main ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav.main ul li {
    list-style: none;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}
nav.main ul li:first-child{
    justify-content: flex-start;
}
nav.main ul li img{
    max-width: 100px;
    height: auto;
}